table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
	padding: 5px 5px;
}
table{
	width: 100%;
	font-size: 18px;
}
th{
	background: rgba(104, 121, 176, 1);
	color: #fff;
}
h3{
	font-size: 24px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(104,121,176,1);
	text-align: center;
}
.responsive-table{
	overflow-x: auto;
}
