table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
	padding: 5px 5px;
}
table{
	width: 100%;
	font-size: 18px;
}
th{
	background: rgba(104, 121, 176, 1);
	color: #fff;
}
h3{
	font-size: 24px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: rgba(104,121,176,1);
	text-align: center;
}
.responsive-table{
	overflow-x: auto;
}
#edit-btn,
#delete-btn{
	height: 80px;
	width: 100%;
	border: 1px solid #FFEB3B;
	color: #fff;
	border-radius: 5px;
	transition: all .5s ease-in-out 0s;
	text-decoration: none;
}
#delete-btn:hover{
	cursor: pointer;
	color: #B71C1C;
	background: #fff;
	transition: all .5s ease-in-out 0s;
	border: 1px solid #B71C1C;
}
#edit-btn:hover{
	cursor: pointer;
	color: #856404;
	background: #fff;
	transition: all .5s ease-in-out 0s;
	border: 1px solid #856404;
}
#edit-btn{
	background: #856404;
}
#delete-btn{
	background: #B71C1C;
}
