/*
#container{
	display: grid;
	grid-template-columns: 30% 70%;
}
#doc1{
	width: 200px;
	height: 200px;
}

#menu{
	background-color:aqua;
	border-right:1px solid black;
	width: 300px;
	height: 550px;

}
.link{
	margin-left: 50px;
	font-size: 20px;
	text-decoration: none;
	
}
.link:hover{
	color: white;
	border: 2px solid black;
	border-color: aqua;
	background-color: aqua;
	font-size: 25px;

}

#tag{
	margin-left:300px;

}
 #part1{
 	margin-bottom: 50px;
	
 }
#part2{
	margin-bottom: 50px;
	margin-right: 150px;
}
#link{
	font-size: 50px;
	margin-right: 270px;
	margin-left: 75px; 
}

#link2{
	font-size: 50px;
}
#container{
	background-color: rgba(255,255,255,1);
}
#menus{
	background-color: #00BFFF;
}
#link2:hover{
	color: red;
}
#link:hover{
	color: red;
}


*/
#part1{
	margin-left: 170px;
	width: 400px;

}
#part2{
	width: 400px;
}
#in{
	font-size: 20px;
	margin-right: 520px;
	margin-left: 150px;
	border: 1px solid white;
	text-decoration-line: none;
}
#out{
	font-size: 20px;
	border: 1px solid white;
	text-decoration-line: none;
}
#in:hover{
	color: red;
	border: 1px solid black;
}
#out:hover{
	color: red;
	border: 1px solid black;
}
