#ima{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 40%));
	grid-column-gap: 5%;
}


#part1{
	width: 100%;
}
#part2{
	width: 100%;
}
#in, #out{
	font-size: 20px;
	border: 1px solid white;
	text-decoration-line: none;
}
#in:hover, #out:hover{
	color: red;
	border: 1px solid black;
}
