#part1{
	margin-left: 170px;
	width: 400px;

}
#part2{
	width: 400px;
}
#in{
	font-size: 20px;
	margin-right: 520px;
	margin-left: 150px;
	border: 1px solid white;
	text-decoration-line: none;
}
#out{
	font-size: 20px;
	border: 1px solid white;
	text-decoration-line: none;
}
#in:hover{
	color: red;
	border: 1px solid black;
}
#out:hover{
	color: red;
	border: 1px solid black;
}
