body{
	background-color: linear-gradient;
	background-size: cover;
	background-position: center;
  position: relative;
}
html, body{
  height: 90%;
}
main{
  min-height: 100%;
}
footer{
  height: 40px;
  position: relative;
}

.form-group input{
  height: 30px;
  width: 280px;
}
.login-box{
	max-width: 700px;
  max-height: 150px;
	float: none;
	margin: 80px  auto;
	margin-left:80px;
}
.login-border{
	border: 1px solid white;
	margin-left: 250px;
	margin-right: 250px;
}
.info-right{
	margin-right: 50px;
}
.info-right{
  padding: 0px;
  text-align: left;
}
.top{
	border: 1px solid white;
	margin-right:  250px;
	margin-left: 250px;
}
.login-box{
	display: grid;
	grid-template-columns: 50% 50%;
}
.footer-copy{
  background: #343a40;
	color: #686868;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  text-align: center;;
}

#log{
  width: 120px;
  height: 40px;
  cursor: pointer;
  color: black;
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  font-weight: bolder;
}
.login-left button:hover{
  background: #9bafd4;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

#login-head{
  text-align: left;
  color: white;
  margin-left: 50px;
}
