@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Quicksand:500&display=swap');
body{
	background-color: #f7f7f7;
	background-size: cover;
	background-position: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
}
html, body{
  height: 90%;
}
main{
  min-height: 99%;
}
footer{
  height: 44px;
  position: relative;
}
.form-group input{
  height: 30px;
  width: 90%;
}
.login-box{
	max-width: 750px;
	float: none;
	margin: 80px auto 80px 80px;
}
.login-border, .top{
  border: 1px solid white;
  background: white;
  color: black;
  width: auto;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 0 15px 35px 0 rgba(160,166,187, .7), 0 5px 15px 0 rgba(0,0,0, .12);
}
.info-right{
	margin-right: 20px;
}
.info-right{
  padding: 0;
  text-align: left;
}
.top{
	border: 1px solid white;
	margin-right:  10%;
	margin-left: 10%;
    max-height: 70px;
}
.login-box{
	display: grid;
	grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}
.footer-copy{
  color: #686868;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  text-align: center;;
}

#log{
  background: #88b3f7;
  width: 120px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-weight: bolder;
}
.login-left button:hover{
  background-color: #001d38;
  /* #0c6ec9; */
   opacity: 1;
  filter: alpha(opacity=100);
  border: 2px solid black;
}

#login-head{
  text-align: left;
  color: #5466EB;
  margin-left: 50px;
}
@media screen and (max-width: 900px) {
    .login-box{
    	display: grid;
        grid-template-columns: 100%;
    	grid-template-rows: 50% 50%;
        grid-row-gap: 50px;
        grid-template-areas: "up"
                             "down";
    }
    .login-left{
        grid-area: up;
    }
    .info-right{
        grid-area: down;
    }
    .login-box{
    	min-width: 80%;
        min-height: 100%;
    	float: none;
		margin: 40px auto 40px 40px;
	}
}
h1{
    color: #5466EB;
}
