.search{
	text-align: right;
}
input{
	margin-top: 10px;
	width: 600px;
	color: rgba(104, 121, 176, 1);
	border: 1px solid rgba(104, 121, 176, 1);
	border-radius: 5px;
}
input[type=text]{
	width: 200px;
}
button{
	background-color: #FFF;
	color: rgba(104, 121, 176, 1);
	border: 1px solid rgba(104, 121, 176, 1);
	border-radius: 5px;
	height: 20px;
	width: 150px;
}
button:hover{
	background: rgba(104, 121, 176, 1);
	transition: all 0.5s ease 0s;
	color: #fff;
	cursor: pointer;
}
